# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# large archives
*.rar
*.zip
!public/downloads/*.zip
*.7z
*.tar.gz


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Antigravity temporary / scratch
scratch/
*.tmp

